In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [2]:
data = pd.read_csv("D:\datasets\chess_games.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   game_id            20058 non-null  int64
 1   rated              20058 non-null  bool
 2   turns              20058 non-null  int64
 3   victory_status     20058 non-null  object
 4   winner             20058 non-null  object
 5   time_increment     20058 non-null  object
 6   white_id           20058 non-null  object
 7   white_rating       20058 non-null  int64
 8   black_id           20058 non-null  object
 9   black_rating       20058 non-null  int64
 10  moves              20058 non-null  object
 11  opening_code       20058 non-null  object
 12  opening_moves      20058 non-null  int64
 13  opening_fullname   20058 non-null  object
 14  opening_shortname  20058 non-null  object
 15  opening_response   1207 non-null   object
 16  opening_variation  14398 non-null  object
dtypes: bool(1), int64(5), object(11)
memory usage: 2.5+ MB

In [14]:
data.describe()

            game_id         turns  white_rating  black_rating  opening_moves
count  20058.000000  20058.000000  20058.000000  20058.000000   20058.000000
mean   10029.500000     60.465999   1596.631868   1588.831987       4.816981
std     5790.390185     33.570585    291.253376    291.036126       2.797152
min        1.000000      1.000000    784.000000    789.000000       1.000000
25%     5015.250000     37.000000   1398.000000   1391.000000       3.000000
50%    10029.500000     55.000000   1567.000000   1562.000000       4.000000
75%    15043.750000     79.000000   1793.000000   1784.000000       6.000000
max    20058.000000    349.000000   2700.000000   2723.000000      28.000000

In [5]:
data.head()

,game_id,rated,turns,victory_status,winner,time_increment,white_id,white_rating,black_id,black_rating,moves,opening_code,opening_moves,opening_fullname,opening_shortname,opening_response,opening_variation
0,1,False,13,Out of Time,White,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,5,Slav Defense: Exchange Variation,Slav Defense,NaN,Exchange Variation
1,2,True,16,Resign,Black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,4,Nimzowitsch Defense: Kennedy Variation,Nimzowitsch Defense,NaN,Kennedy Variation
2,3,True,61,Mate,White,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,3,King's Pawn Game: Leonardis Variation,King's Pawn Game,NaN,Leonardis Variation
3,4,True,61,Mate,White,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,3,Queen's Pawn Game: Zukertort Variation,Queen's Pawn Game,NaN,Zukertort Variation
4,5,True,95,Mate,White,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,5,Philidor Defense,Philidor Defense,NaN,NaN

In [35]:
data["winner"].unique()

array(['White', 'Black', 'Draw'], dtype=object)

In [19]:
labcode = LabelEncoder()

In [36]:
labcode.fit_transform(data["winner"])

array([2, 0, 2, ..., 2, 2, 0])

In [37]:
data["winner"].value_counts()

White    10001
Black     9107
Draw       950
Name: winner, dtype: int64

In [39]:
add_dummy = pd.get_dummies(data["winner"])

In [40]:
add_dummy

       Black  Draw  White
0          0     0      1
1          1     0      0
2          0     0      1
3          0     0      1
4          0     0      1
...      ...   ...    ...
20053      0     0      1
20054      1     0      0
20055      0     0      1
20056      0     0      1
20057      1     0      0

[20058 rows x 3 columns]

In [41]:
data.join(add_dummy)

,game_id,rated,turns,victory_status,winner,time_increment,white_id,white_rating,black_id,black_rating,...,Van't Kruijs Opening,Vienna Game,Wade Defense,Ware Defense,Ware Opening,Yusupov-Rubinstein System,Zukertort Opening,Black,Draw,White
0,1,False,13,Out of Time,White,15+2,bourgris,1500,a-00,1191,...,0,0,0,0,0,0,0,0,0,1
1,2,True,16,Resign,Black,5+10,a-00,1322,skinnerua,1261,...,0,0,0,0,0,0,0,1,0,0
2,3,True,61,Mate,White,5+10,ischia,1496,a-00,1500,...,0,0,0,0,0,0,0,0,0,1
3,4,True,61,Mate,White,20+0,daniamurashov,1439,adivanov2009,1454,...,0,0,0,0,0,0,0,0,0,1
4,5,True,95,Mate,White,30+3,nik221107,1523,adivanov2009,1469,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,20054,True,24,Resign,White,10+10,belcolt,1691,jamboger,1220,...,0,0,0,0,0,0,0,0,0,1
20054,20055,True,82,Mate,Black,10+0,jamboger,1233,farrukhasomiddinov,1196,...,0,0,0,0,0,0,0,1,0,0
20055,20056,True,35,Mate,White,10+0,jamboger,1219,schaaksmurf3,1286,...,0,0,0,0,0,0,0,0,0,1
20056,20057,True,109,Resign,White,10+0,marcodisogno,1360,jamboger,1227,...,0,0,0,0,0,0,0,0,0,1
20057,20058,True,78,Mate,Black,10+0,jamboger,1235,ffbob,1339,...,0,0,0,0,0,0,0,1,0,0

In [42]:
data.drop(["winner"],axis =1, inplace = True)

In [43]:
data.columns

Index(['game_id', 'rated', 'turns', 'victory_status', 'time_increment',
       'white_id', 'white_rating', 'black_id', 'black_rating', 'moves',
       ...
       'Trompowsky Attack', 'Valencia Opening', 'Van Geet Opening',
       'Van't Kruijs Opening', 'Vienna Game', 'Wade Defense', 'Ware Defense',
       'Ware Opening', 'Yusupov-Rubinstein System', 'Zukertort Opening'],
      dtype='object', length=143)

In [44]:
data = data.join(add_dummy)

In [45]:
data

,game_id,rated,turns,victory_status,time_increment,white_id,white_rating,black_id,black_rating,moves,...,Van't Kruijs Opening,Vienna Game,Wade Defense,Ware Defense,Ware Opening,Yusupov-Rubinstein System,Zukertort Opening,Black,Draw,White
0,1,False,13,Out of Time,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,...,0,0,0,0,0,0,0,0,0,1
1,2,True,16,Resign,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,...,0,0,0,0,0,0,0,1,0,0
2,3,True,61,Mate,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,...,0,0,0,0,0,0,0,0,0,1
3,4,True,61,Mate,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,...,0,0,0,0,0,0,0,0,0,1
4,5,True,95,Mate,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,20054,True,24,Resign,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,...,0,0,0,0,0,0,0,0,0,1
20054,20055,True,82,Mate,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,...,0,0,0,0,0,0,0,1,0,0
20055,20056,True,35,Mate,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,...,0,0,0,0,0,0,0,0,0,1
20056,20057,True,109,Resign,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,...,0,0,0,0,0,0,0,0,0,1
20057,20058,True,78,Mate,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,...,0,0,0,0,0,0,0,1,0,0